{% load static %}

<section class="hero-section pt-5">
    <div class="container">
        <div class="row min-vh-100 align-items-center row-cols-1 row-cols-md-2">

            <div class="col text-center text-md-start text-white">
                <!-- Hero Content -->
                <h1 class="display-3 fw-bold mb-1">
                    Giovanna Urquisa
                </h1>
                <h2 class="display-6 mb-4">
                    Baile de Formatura
                </h2>
                <p>
                    Depois de anos de dedicação, estudos intensos e muitas conquistas, é hora de comemorar essa vitória! Você faz parte dessa trajetória, e por isso, sua presença na comemoração será um presente especial.
                </p>

                <div class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3 text-capitalize">
                    <a href="#" class="btn btn-light">
                        Marque sua presença
                    </a>
                    <a href="#" class="btn btn-outline-light">
                        Saiba mais
                    </a>
                </div>

                <img src="{% static 'img/gio_cadeira_1.jpg' %}" alt="Giovanna Urquisa" class="img-fluid mt-3 d-block d-md-none mx-auto">
            </div>

        </div>
    </div>
</section>